.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    background-color: var(--dark);
    width: 100%;
    padding: 0.5rem;
}
.navbar-list {
    display: flex;
    flex-wrap: nowrap;
}
.navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: purple;
    margin: 3px 125px;
    border: 1px blueviolet solid;
    border-radius: 15px;
    background-color: ghostwhite;
    width: 150px;
}

.navbar-link {
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar-logout {
    margin-left: auto;
}

.navbar-link:hover {
    color: #E9E6FF;
}